/*------BASICS--------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    min-width: 100vh;
}


.row {
    max-width: 1170px;
    margin: 0 auto;
}

/*-------------HEADINGS----------*/
h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 65px;
    max-width: 25ch;
    text-align: center;
    font-family: "Open Sans";
    
}

h3 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(45,48,51);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
}


/*----------------HEADER------------------*/

header {
    background-image:linear-gradient(rgba(43, 46, 74, 0.93), rgba(43, 46, 74, 0.93)),url(../img/header.png);
    background-size: cover;
    background-position: center;
    height: 750px;
    position: relative;
    
}

.hero-text-box {
    width: 80%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*----------NAV-------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}


.main-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: right;

}

.main-nav li {
    margin-left: 58px;
}

.main-nav a {
    text-decoration: none;
    font-size: 13px;
    font-family: "Raleway";
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}

.hero-text-box p {
    max-width: 70ch;
    margin-bottom: 80px;
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    padding-top: 12px;
}

.header-btn {
    font-size: 13px;
    text-decoration: none;
    font-family:"Raleway";
    color: #fff;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    background-color: #e84545;
    padding:13px 50px;
    border-radius: 5px;
}


/*------------Section-Features--------------*/

.section-features{
    height: 750px;
    background-color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 70px;
    padding-top: 120px;
    
}

.section-features .row {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 75px;
}

.section-features h3 {
    padding-top: 35px;
}

.section-features p {
    width: 390px;
    padding-top: 30px;
    color: #6c7279;
    font-family: "Raleway";
    text-align: center;
    max-width: 35ch;
    line-height: 1.6;
    font-size: 14px;
    

    
}

/*----------Section-works-----------*/

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1px;
}

.image-grid img {
    width: 100%; 
    height: 275px;
    object-fit: cover;
}

.section-works .image-selected {
    height: 275px;
    position: relative;   
}

.section-works .image {
    position: relative;
}

.section-works .texting {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 30%;
    flex-direction: column;
}

.section-works .img-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 15px;
}

.section-works .img-about {
    font-size: 14px;
    color: #ffffff;
    font-family: "Raleway";
    text-align: center;
}




/*----------Section-ourteam----------*/

.section-ourteam {
    position: relative;
    display: flex;
    background-color: white;
    padding-top: 100px;
    justify-content: center;
    gap: 30px;
    
    align-items: center;
}

.our-team {
    display: flex;
    align-items: left;
    overflow: hidden;
    flex-direction: column;
}

.team {
    padding-bottom: 30px;
}

.name {
    font-size: 22px;
    color: #2d3033;
    font-family: "Raleway";
    padding-bottom: 15px;
}

.prof {
    padding-bottom: 30px;
    font-size: 13px;
    text-transform: uppercase;
    color: #e84545;
    font-family: "Raleway";
    
}

.about {
    width: 270px;
   /* height: 274px; */
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    font-family: "Raleway";
    padding-bottom: 30px;
}

.section-ourteam .links {
    display: flex;
    gap: 5px;
    padding-bottom: 100px;

}

.ourteam-links {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ourteam-links a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------Section-works----------*/
.section-testimonials {
    position: relative;
    display: flex;
}


.image-testi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-testi {
    object-fit: cover;
    height: auto;
}

/*----------------Section-testimonials-------------*/

.section-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.container {
    background-image: url(/resources/img/Layer\ 19.png);
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-container {
    width: 50%;
    height: 100%;
    background-color: #53354a;
    display: flex;

}

.section-testimonials .text-box {
    display: flex; 
    margin: 100px 400px 225px 85px;
    flex-direction: column;
    width: 500px;
}

.section-testimonials .testimonial-text {
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Cardo";
    width: 27.5ch;
    text-align: left;
    padding-bottom: 30px;
}

.section-testimonials .circles {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.section-testimonials .circle-selected {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    margin: 8px;
}

.section-testimonials .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff; 
    opacity: 0.200;
    margin: 8px;
    display: flex;
    flex-direction: row;
}

.section-testimonials .text-about {
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    width: 300px;
    padding-bottom: 65px;
}




/*---------------Section-download-------------*/


.heading-download {
    font-size: 28px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.download-text {
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #2d3033;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 40px;
}

.down-btn {
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
}

.download-btn {
    display: flex;
    width: 280px;
    height: 46px;
    border-radius: 5px;
    background-color: #e84545;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

/*--------------Footer---------------*/
footer {
    display: flex;
    background-color: #3a3e64;
    padding-top: 70px;
    justify-content: center;
    gap:0px;
    align-items: baseline;
    flex-wrap: wrap;
}

footer .links {
    display: flex;
    gap: 7px;
    padding-bottom: 100px;

}

.footer-links {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0);
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 20px;
}

footer .about {
    width: 390px;
    height: 118px;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    font-family: "Raleway";
    text-align: center;
    width: 40ch;
}

.location-text {
    width: 390px;
    height: 118px;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    font-family: "Raleway";
    text-align: center;
    width: 20ch;
}

.share {
    width: 25%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share .links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-flex {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright {
    background-color: #313454;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items:center;
    width: 100%;
}





